[submodule "third_party/limine"]
	path = third_party/limine
	url = https://github.com/limine-bootloader/limine.git
	branch = v11.x-binary
[submodule "third_party/limine-protocol"]
	path = third_party/limine-protocol
	url = https://github.com/Limine-Bootloader/limine-protocol.git
	branch = trunk
